spring:
  datasource:
#    username:
#    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"