spring:
  application:
    name: product-services

  config:
    import: optional:configserver:http://localhost:8888

  datasource:
    url: jdbc:postgresql://ep-patient-thunder-aheic3kc.c-3.us-east-1.aws.neon.tech/candysoft?sslmode=require
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8092